[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adif2json = {editable = true, path = "."}
aiofiles = "*"
chardet = "*"

[dev-packages]
pytest = "*"
ipdb = "*"
pytest-cov = "*"
pylint = "*"
pyslp = "*"
pyls = "*"
debugpy = "*"
snakeviz = "*"

[requires]
python_version = "3.11"
